

.wrapper-div {
    padding: 5px;
    box-shadow: 0 0 10px #c7c7c7;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.393);
}

.navigation {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.393);
    padding: 4px;
    background-color: #fff;
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipment-summary {
    margin-bottom: 2px;
}

.vertical-line {
    border-left: 1px solid rgba(128, 128, 128, 0.519);
    height: 3rem;
    padding: 10px;
}

.back-icon {
    font-size: 2rem;
    color: #20a8d8;
    cursor: pointer;
}

.close-button {
    border-color: #20a8d8;
    color: #20a8d8;
    border-radius: 0;
    padding-right: 10px;
}

.close-button:hover {
    color: white;
    background-color: #20a8d8;
}

.vertical {
    display: flex;
    justify-content: space-between;
    height: 50rem;
}

.back-button-wrapper{
    padding: 10px 15px 10px 10px;
}
.close-button-wrapper{
    padding-right: 10px;
}
.shipment-number-wrapper{
    padding: 10px;
}