<div class="wrapper-div">
    <div class="navigation">
        <div class="left-side">
            <div class="back-button-wrapper">
                <i class="fa fa-angle-left back-icon" (click)="goBack()"></i>
            </div>
            <div class="vertical-line">
            </div>
            <div class="shipment-number-wrapper">
                <h5 class="shipment-summary">{{sharedService.title}}</h5>
                <span *ngIf="sharedService.shipmentID" class="shipment-number">{{sharedService.shipmentID}}</span>
            </div>
        </div>
        <div class="right-side">
            <div class="close-button-wrapper">
                <button class="close-button btn btn-outline-primary" (click)="close()">
                    Close
                </button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <app-results *ngIf="pageBool" [shipmentDetails]="shipmentDetails"
        (shipmentdata)="shipmentCame($event)"></app-results> -->
    <!-- <app-details *ngIf="!pageBool" [shipmentdata]="shipmentData"></app-details> -->
</div>