<div class="card">
    <div class="card-body">
        <h4 class="heading">Shipment Search</h4>
        <form [formGroup]="searchForm" (ngSubmit)="shipmentSearch()">
            <div class="mb-3">
                <input type="text" class="form-control" id="OrderNo" formControlName="OrderNo" placeholder="Order #">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="ShipmentNo" formControlName="ShipmentNo"
                    placeholder="Shipment #">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="LastName" formControlName="LastName"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="EmailId" formControlName="EmailId" placeholder="Email ID">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="Phonenumber" formControlName="Phonenumber"
                    placeholder="Phone Number">
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-outline-primary reset-button" (click)="reset()">Reset</button>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>