<div class="card">
    <div class="card-body">
        <h4 class="heading">Shipment Search</h4>
        <form [formGroup]="searchForm" (ngSubmit)="shipmentSearch()">
            <div class="mb-3">
                <input type="text" class="form-control" id="orderId" formControlName="orderId" placeholder="Order #">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="shipmentId" formControlName="shipmentId"
                    placeholder="Shipment #">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="emailId" formControlName="emailId" placeholder="Email ID">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                    placeholder="Phone Number">
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-outline-primary reset-button" (click)="reset()">Reset</button>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>