<div class="card">
    <div class="card-body">
        <div *ngIf='hide' class="details-section">
            <div class="vertical">
                <div class="part-1">
                    <div class="packing-in-progress">
                        <label>
                            Packing in Progress
                        </label>
                    </div>
                    <div class="shipment-number">
                        <label>
                            Shipment number
                        </label>
                        <p>
                            {{shipmentdata.ShipmentNo}}
                        </p>
                    </div>
                    <div class="shipment-number">
                        <label>
                            Carrier
                        </label>
                        <p>
                            {{shipmentdata.ScacAndService ? shipmentdata.ScacAndService:'-'}}
                        </p>
                    </div>
                    <div class="shipment-number">
                        <label>
                            Assigned to
                        </label>
                        <p>
                            {{shipmentdata.AssignedToUserId}}
                        </p>
                    </div>
                    <div class="shipment-number">
                        <label>
                            Ship to
                        </label>
                        <p>{{shipmentdata.ToAddress.FirstName}} {{shipmentdata.ToAddress.LastName}}</p>
                        <p>{{shipmentdata.ToAddress.AddressLine1}}</p>
                        <p>{{shipmentdata.ToAddress.City}}, {{shipmentdata.ToAddress.State}},
                            {{shipmentdata.ToAddress.ZipCode}}</p>
                        <p>{{shipmentdata.ToAddress.Country}}</p>
                    </div>
                </div>
                <div class="part-2">
                    <div class="expected-ship-date bottom">
                        <label>Expected ship date</label>
                        <p>{{shipmentdata.ExpectedShipmentDate}}</p>
                    </div>
                    <div class="customer-info bottom">
                        <label>Customer info</label>
                        <p>{{shipmentdata.BillToAddress.FirstName}} {{shipmentdata.BillToAddress.LastName}}</p>
                        <p>{{shipmentdata.BillToAddress.Phonenumber}}</p>
                        <p>{{shipmentdata.BillToAddress.EmailID}}</p>
                    </div>
                    <div class="Bill to bottom">
                        <label>Bill to</label>
                        <p>{{shipmentdata.BillToAddress.FirstName}} {{shipmentdata.BillToAddress.LastName}}</p>
                        <p>{{shipmentdata.BillToAddress.AddressLine1}}</p>
                        <p>{{shipmentdata.BillToAddress.City}}, {{shipmentdata.BillToAddress.State}},
                            {{shipmentdata.BillToAddress.ZipCode}}</p>
                        <p>{{shipmentdata.BillToAddress.Country}}</p>
                    </div>
                </div>
            </div>
            <div class="horizontal">
                <div class="info-div">
                    <div class="hide-show-info">
                        <p (click)="hideInfo()">
                            Hide info
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-details-section" *ngIf='!hide'>
            <div class="showdiv">
                <div class="part-1">
                    <div class="packing-in-progress">
                        <label>
                            Packing in Progress
                        </label>
                    </div>
                </div>
                <div class="show-part-2">
                    <div class="shipment-number">
                        <label>
                            Shipment number
                        </label>
                        <p>
                            {{shipmentdata.ShipmentNo}}
                        </p>
                    </div>
                    <div class="expected-ship-date bottom">
                        <label>Expected ship date</label>
                        <p>{{shipmentdata.ExpectedShipmentDate}}</p>
                    </div>
                    <div class="shipment-number ship-to">
                        <label>
                            Ship to
                        </label>
                        <p>{{shipmentdata.ToAddress.City}}, {{shipmentdata.ToAddress.State}},
                            {{shipmentdata.ToAddress.ZipCode}}</p>
                    </div>
                </div>
            </div>
            <div class="horizontal">
                <div class="info-div">
                    <div class="hide-show-info">
                        <p (click)="hideInfo()">
                            show info
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-main-div">
            <div class="product-heading">
                <h5>
                    Products ({{shipmentdata.ShipmentLines.TotalNumberOfRecords}})
                </h5>
            </div>
            <div class="horizontal-line">

            </div>
            <div class="products">
                {{shipmentdata.ShipmentLines.shipmentLine}}
                <div class="prods prod-1" *ngFor="let product of shipmentdata.ShipmentLines.ShipmentLine">
                    <div class="horizontal-div">
                        <!-- <img src="../../../assets/pic.jpg" alt=""> -->
                        <img src='{{product.OrderLine.ItemDetails.ImageUrl}}' alt="P1 Image">
                        <div class="vertical-options">
                            <h5>{{product.OrderLine.ItemDetails.Description}}</h5>
                            <p>Product ID: {{product.OrderLine.ItemDetails.ItemID}}</p>
                            <p>Quantity: {{product.Quantity}} {{product.OrderLine.ItemDetails.DisplayUnitOfMeasure}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>